/Femme-coccyx/nbproject/private/
/Femme-coccyx/build/
/Principal/nbproject/private/
/Principal/build/
/ImageDownloader/nbproject/private/
/ImageDownloader/build/
/ExtractLinksFromUrl/nbproject/private/
/ExtractLinksFromUrl/build/
/ImagenURL/nbproject/private/
/ImagenURL/build/
/build/
/dist/
/nbproject/private/